body {
    background-color: lightgray;
    text-align: center;
    background-image: url(https://w0.peakpx.com/wallpaper/904/196/HD-wallpaper-pikachu-in-light-yellow-background-pikachu.jpg);
    /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRybXKJ2qQyonY5FAKL95z_Ne7ELaKhLwTPrA&usqp=CAU); */
    background-repeat: no-repeat;
    background-size: cover;    
}

p {
    font-size: x-large;   
}

img {
    width: 250px;
    height: 200px;
}

